@media only screen and (max-width: 1050px) {
    header{
        height:110px;
        flex-direction:column;
        
    }

    nav ul{
        justify-content:center;
    }

    nav ul li{
        padding:15px;
    }

    .search{
        width:100%;
        margin:0px;
        justify-content:center;
    }

    .logo{
        display:flex;
        justify-content:center;
    }
    
    .logo img{
        padding:5px;
    }

    header nav ul li {
        padding: 0px 31px;
    }
}
